<% @title = 'My Posts' %>

<div class="row">
  <div class="col-12">
    
    <h2>My Posts</h2>

    <ul class="posts">
      <% unless @my_posts.nil? %>
        <% @my_posts.each do |post|%>
          <li>
            <p class="clear">
              <span class="bold"><%= post[:title] %></span>
            </p>
            <p>
              <%= post[:post] %>
            </p>
            
            <p class="float-left">
              <a href="/edit_post/<%= post[:id] %>"><button type="submit" class="btn btn-outline-info btn-sm current_btn">Edit Post</button></a>
              <a href="/edit_post/<%= post[:id] %>"><button type="submit" class="btn btn-outline-danger btn-sm current_btn">Delete Post</button></a>
            </p>

            <p class="small-text align-right float-right">
              <span class="bold">Published:</span> <span class="italic"><%= post[:created_at].strftime('%Y-%m-%d %H:%M:%S') %></span><br>
            <span class="bold">Last Updated:</span> <span class="italic"><%= post[:updated_at].strftime('%Y-%m-%d %H:%M:%S') %></span>
            </p>
          </li>
        <% end %> 

      <% else %>
        <h4>You have no life 😢 Let's get started! Hit the 'Create New Post' button to create a new entry.</h4>
      <% end %>
    </ul>

  </div>
</div>