<% @title = 'My Posts' %>

<div class="row">
  <div class="col-12">
    
    <h2>My Posts</h2>

    <ul class="posts">
      <% if @my_posts.length < 1 %>
        <h4>You have no life 😢 Let's get started! Click ' New Post' in the menu to create a new entry.</h4>
      <% else %>
        <% @my_posts.each do |post|%>
          <li class="clear">
            
            <p class="clear"><span class="bold"><%= post[:title] %></span></p>

            <p><%= post[:post] %></p>
            
            <p class="float-left">
              <a href="/edit_post/<%= post[:id] %>"><button type="submit" class="btn btn-outline-info btn-sm current_btn">Edit Post</button></a>
              <a href="/edit_post/<%= post[:id] %>"><button type="submit" class="btn btn-outline-danger btn-sm current_btn">Delete Post</button></a>
            </p>

            <p class="small-text align-right float-right">
              <span class="bold">Published:</span> <span class="italic"><%= post[:created_at].strftime('%Y-%m-%d %H:%M:%S') %></span><br>

              <% if post[:created_at] != post[:updated_at] %>
              <!-- if post has been updated, show time -->
                <span class="bold">Last Updated:</span> <span class="italic"><%= post[:updated_at].strftime('%Y-%m-%d %H:%M:%S') %></span>
              <% end %>
            </p>

            <!-- clear floats -->
            <div class="clear">
            </div>

          </li>
        <% end %>
      <% end %>
    </ul>

  </div>
</div>