<% @title = @user.username %>

 <div class="container account-element center">
    <div class="row">
      <h2 class="margin-auto">My Account</h2>
    </div>
    <div class="row account-row">
      <div class="col-6 align-right">
        <span class="bold">Username:</span> <br>
        <span class="bold">First Name:</span> <br>
        <span class="bold">Last Name:</span> <br>
        <span class="bold">Email Address:</span> <br>
        <span class="bold">Birthday:</span> <br>
      </div>
      <div class="col-6 align-left">
        <%= @user.username %><br>
        <%= @user.first_name %><br>
        <%= @user.last_name %><br>
        <%= @user.email %><br>
        <%= @user.birthday %>
      </div>
      <div class="col-12 margin-top">
        <!-- fb Login Button social plugin uses the JavaScript SDK and triggers the FB.login() function when clicked -->
        <fb:login-button scope="public_profile,email" autologoutlink="true" onlogin="checkLoginState();">
        </fb:login-button>
       
        <!-- fb status display -->
        <div id="status" class="center margin-top">
        </div> 

      </div>
    </div>

    <a href="/edit_account/<%= @user.id %>">
      <!-- submit buttons are only forms -->
      <button type="submit" name="edit_account" class="btn btn-outline-info btn-sm current_btn">
        Edit Account
      </button>
    </a>

    <a href="/log_out">
      <button type="submit" name="log_out" class="btn btn-outline-secondary btn-sm current_btn">
        Log Out
      </button>
    </a>

    <a href="/edit_account/<%= @user.id %>">
      <button type="submit" name="delete_account" class="btn btn-outline-danger btn-sm current_btn">
        Delete Account
      </button>
    </a>
  </div>